body{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.umbrellaContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#instructionsTitle{
    font-size: 20px;
    padding: 0px;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
    /*0 is for top-bottom; auto for left-right*/
}

.instructionsContainer{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    padding: 20px 10px 0px 10px;
    text-align: justify;
    font-size: 16px;
    /* align-items: flex-start; */
    /*QUESTION 2 Why isn't justify-content left making the instructions move to the left of my gameplay container?*/
}

.startAndRestartButtonsContainer{
    display: flex;
    height: 160px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
   
    /* align-items: 
    justify-content: space-between; */
    /* padding: 20px 10px 0px 10px; */
}

.startAndRestartButtons{
    height: 30%;
    padding: 10%;
    border-radius: 15px;
    background-color: rgb(250, 112, 250);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.masterGameplayContainer{
    display: block;
    width: 75%;
    height: 100%;
    /* why when I set this to display: block does it not look right but when I change it to display: flex it completely alters the positioning of everything inside into a row?*/
    /* does not have to be display flex to use percentages*/
}

#gameName{
    text-align: center;
    margin: 0;
    letter-spacing: 12px;
    font-size: 28px;
    text-decoration: underline solid white 30%;
}

/*create multiple elements through css for each 'hands' class*/

#dealersHandTitle{
    width: 150px;
    text-align: right;
    font-size: 24px;
    /* text-decoration: underline overline dotted white 20%; */
    border: dotted white 5px;
    letter-spacing: 8px;
    margin: 3% auto 1% auto;
    height: 100%;
    /* if time allows: make the dots a box; and figure out a way to make the dots march around when the player wins a round */
}

#playersHandTitle{
    width: 150px;
    text-align: right;
    font-size: 24px;
    border: dotted white 5px;
    letter-spacing: 8px;
    margin: 2% auto 1% auto;
    height: 100%;
    /*if time allows: produce a flashing animation that the player has obtained blackjack b/c this is fun.*/
}

.dealersHandContainer, .playersHandContainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
}

.dealersHand, .playersHand{
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 100px;
    border: 1.5px solid black;
    padding: 20px;
    margin: 15px 20px;
    font-size: 14px;
    border-radius: 8px;
    color: red;
    justify-content: space-between;
    /* margin: 20px; */
}

/*QUESTION: Why do my cards, which are flexbox containers, put the child containers in columns instead of rows when I have specified that the containers should be in rows on line 107? */

.dealersTopCardNumbers, .playersTopCardNumbers{
    display: flex;
    /*FLEX CONTAINER CREATED*/
    flex-direction: row;
    /*THIS SHOULD SETS THE CARDS' TOP TEXT CONTAINER AS A ROW BUT IT'S IN A COLUMN INSTEAD*/
    justify-content: flex-start;
    /*THIS ALIGNS THE TOP CARD TEXT TO THE LEFT OF THE CONTAINER*/
}

.playersCardSuits, .dealersCardSuits{
    display: flex;
    /*FLEX CONTAINER CREATED*/
    flex-direction: row;
    /*THIS SHOULD SETS THE CARDS' TOP TEXT CONTAINER AS A ROW BUT IT'S IN A COLUMN INSTEAD*/
    flex-wrap: wrap;
    /*wrapping the textual elements of the card */
    align-content: center;
    font-size: 16px;
    /* aligning the suit to the center of the card*/
}

.playersBottomCardNumbers, .dealersBottomCardNumbers{
    display: flex;
    /*FLEX CONTAINER CREATED*/
    flex-direction: row;
    /*THIS SHOULD SETS THE CARDS' TOP TEXT CONTAINER AS A ROW BUT IT'S IN A COLUMN INSTEAD*/
    align-items: flex-end;
    /* aligning the suit to the right side of the card*/
}

.playersButtonsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 25px;
    padding: 2px 0;
    margin: .5% 0 0 0;
}

.actionButtons{
    width: 18%;
    background-color: violet;
    border-radius: 15px;
    background-color: rgb(250, 112, 250);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}



/*I'll need to move playersHandContainer to its own flexbox display setup if I need to adjust its location*/

/*plan: create a container for the table pot in html*/

.potContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /*0 is for top-bottom; auto for left-right*/
}

#tablePot{
    /* width: 52px;
    border: 15px solid yellow;
    padding: 38px; */
    width: 25px;
    border: 1.5px solid black;
    padding: 25px;
    margin: 10px 20px;
    font-size: 16px;
    /* margin: 0px 20px 0px 138px; */
    /*    for 0 auto    */
}