body{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.umbrellaContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#instructionsTitle{
    font-size: 24px;
    padding: 0px;
    margin: 10px 10px 10px 0px;
    /*0 is for top-bottom; auto for left-right*/
}

.instructionsContainer{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    padding: 20px 10px 0px 10px;
    text-align: justify;
    /* align-items: flex-start; */
    /*QUESTION 2 Why isn't justify-content left making the instructions move to the left of my gameplay container?*/
}

.startAndRestartButtonsContainer{
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    /* align-items: 
    justify-content: space-between; */
    /* padding: 20px 10px 0px 10px; */
}

.startAndRestartButtons{
    height: 30%;
    padding: 10%;
}

.masterGameplayContainer{
    display: block;
    width: 75%;
    height: 100%;
    /* why when I set this to display: block does it not look right but when I change it to display: flex it completely alters the positioning of everything inside into a row?*/
    /* does not have to be display flex to use percentages*/
}

#gameName{
    text-align: center;
    margin: 3% 0;
    letter-spacing: 10px;
    font-size: 32px;
    text-decoration: underline dotted white 20%;
}

/*create multiple elements through css for each 'hands' class*/

#dealersHandTitle{
    text-align: center;
    font-size: 28px;
    text-decoration: underline dotted white 20%;
    letter-spacing: 5px;
    margin: 1% 0;
    height: 100%;
    /* if time allows: make the dots a box; and figure out a way to make the dots march around when the player wins a round */
}

#playersHandTitle{
    text-align: center;
    font-size: 28px;
    text-decoration: underline dotted white 20%;
    letter-spacing: 5px;
    margin: 1% 0;
    height: 100%;
}

.dealersHandContainer, .playersHandContainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
}

.playersButtonsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 25px;
    padding: 2px 0;
    margin: 1px 0 1px 0;
}

.actionButtons{
    width: 18%;
    background-color: 
}

.dealersHand, .playersHand{
    width: 50px;
    height: 65px;
    border: 1.5px solid black;
    padding: 20px;
    margin: 20px 20px;
    font-size: 10px;
    /* margin: 20px; */
}

/*I'll need to move playersHandContainer to its own flexbox display setup if I need to adjust its location*/

/*plan: create a container for the table pot in html*/

.potContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /*0 is for top-bottom; auto for left-right*/
}

#tablePot{
    /* width: 52px;
    border: 15px solid yellow;
    padding: 38px; */
    width: 25px;
    border: 1.5px solid black;
    padding: 25px;
    margin: 20px 20px;
    /* margin: 0px 20px 0px 138px; */
    /*    for 0 auto    */
}

/* 
Question 1:
Is there a way to move the instructions box to the left of the gameplay master container that I've created?
    what i've tried: 
    step 1. I created a flexbox container for the instructions components and a gameplay master container for everything else. 
    step 2. I tried to move the instructions box to the left of the gameplay master container with the code block on line 71-75.
    step 3. I researched stack overflow articles and reviewed the flexbox froggy game to try and 
*/

/* leetcode and algorithms; bootcamp grads are being beat out at the final round */