body{
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

/*create multiple elements through css for each 'hands' class*/

#dealersHandTitle{
    text-align: center;
    font-size: 24px;
    text-decoration: underline dotted white 20%;
    /* if time allows: make the dots a box; and figure out a way to make the dots march around when the player wins a round */
}

#playersHandTitle{
    text-align: center;
    font-size: 24px;
    text-decoration: underline dotted white 20%;
}

.dealersHandContainer, .playersHandContainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.dealersHand, .playersHand{
    width: 50px;
    border: 15px solid yellow;
    padding: 50px;
    margin: 20px auto;
    /* margin: 20px; */
}

/*I'll need to move playersHandContainer to its own flexbox display setup if I need to adjust its location*/

/*plan: create a container for the table pot in html*/

.potContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#tablePot{
    width: 52px;
    border: 15px solid yellow;
    padding: 50px;
    /* margin: 0px 20px 0px 138px; */
    /*
    for 0 auto
    0 is for top-bottom; auto for left-right
    */
}